--extra-index-url https://download.pytorch.org/whl/cu124

# --- Core Logic ---
ctranslate2==4.7.1
pykakasi==2.3.0
transformers==4.48.0
huggingface_hub
hanja==0.15.1
kyujipy==0.6.8
# sentencepiece is no longer strictly required for Qwen3 but can be kept for compatibility

# --- Build Tools ---
pip-tools==7.5.3
pyinstaller==6.19.0