/*.custom-title-bar {*/
/*    height: 30px;*/
/*    background: var(--bg-panel); !* Adapts to theme *!*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    padding-left: 10px;*/
/*    user-select: none;*/
/*    cursor: default;*/
/*    position: relative;*/
/*    border-bottom: 1px solid var(--border); !* Adapts to theme *!*/
/*}*/

/*.title-bar-status {*/
/*    position: absolute;*/
/*    left: 50%;*/
/*    transform: translateX(-50%);*/
/*    font-size: 0.75rem;*/
/*    font-weight: 700;*/
/*    color: var(--accent); !* Uses your forest green or neon accent *!*/
/*    letter-spacing: 0.5px;*/
/*    pointer-events: none; !* Allows dragging through the text *!*/
/*    white-space: nowrap;*/
/*    opacity: 0.8;*/
/*    text-transform: uppercase;*/
/*}*/

/*[data-theme='light'] .title-bar-status {*/
/*    color: var(--text-muted); !* Subtler gray for light mode *!*/
/*}*/

/*[data-theme='light'] .custom-title-bar {*/
/*    background: #f1f3f5; !* Slightly different gray for the bar in light mode *!*/
/*}*/